venv/*
__pycache__
.env
Hypothetical_Predictor/*.csv
Model_Training/*.csv
final_list
static/plots/*
Model_Training/RandomForestModel.pkl
app.log
aws/*
awscliv2.zip
dataset.csv
client_secrets.json
token.pickle
lstm_model.h5
rf_classifier.pkl
test.py
101524-transactiondata.csv
access.log
error.log
svm_model.pkl
xgb_model.json
MachineLearningModels/KNN.py
MachineLearningModels/LSTM.py
MachineLearningModels/Manual_Algorithm.py
MachineLearningModels/Manual_Algorithm12day.py
MachineLearningModels/RandomForestModel.py
MachineLearningModels/SupportVectorMachine.py
MachineLearningModels/XGBoost.py
