venv/*
__pycache__
.env
Hypothetical_Predictor/future_predictions.csv
Hypothetical_Predictor/pre_future_predictions.csv
Hypothetical_Predictor/stock_trans_data.csv
Hypothetical_Predictor/transactions.csv
Model_Training/future_predictions.csv
Model_Training/pre_future_predictions.csv
Model_Training/stock_trans_data.csv
Model_Training/transactions.csv
final_list
static/plots/manual_model_accuracy.png
static/plots/manual_model_cumulative_correct_predictions.png
static/plots/manual_model_cumulative_incorrect_predictions.png
static/plots/manual_model_cumulative_loss.png
static/plots/manual_model_cumulative_profit.png
static/plots/manual_model_error_rate.png
static/plots/manual_model_time_to_close_correct.png
static/plots/manual_sector_breakdown_profits.png
static/plots/model_accuracy.png
static/plots/model_cumulative_correct_predictions.png
static/plots/model_cumulative_incorrect_predictions.png
static/plots/model_cumulative_loss.png
static/plots/model_cumulative_profit.png
static/plots/model_error_rate.png
static/plots/model_sector_breakdown_profits.png
static/plots/model_time_to_close_correct.png
