<!-- admin_panel.html -->
{% extends 'base.html' %}

{% block content %}
<h1>Admin Panel</h1>
<p>{{ message }}</p>

<!-- Button to view all users -->
<a href="{{ url_for('admin_users') }}"><button>View All Users</button></a>

<!-- Button to manage roles -->
<a href="{{ url_for('assign_roles') }}"><button>Manage Roles</button></a>

<a href="{{ url_for('all_metrics_view') }}"><button>View Financial Metrics of all Users</button></a>

<div> Total Profits: {{total_profit}} </div>
<div> Total Losses: {{total_loss}}</div>
<div> Total Number of Users: {{total_number_of_users}} </div>


{% endblock %}