{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="api-key-update-form">
        <h2>User API Key Update Form</h2>
        <form action="/update_user_api_keys" method="POST">
            
            {% if error_message %}
                <div class='api-key-update-form'> {{error_message}}
                </div>
            {% endif %}
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <label for="username">Username:</label>
            <input type="text" id="user" name="user" value="{{user_name}}"><br>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br>

            <label for="alpaca_key">Alpaca Key:</label>
            <input type="text" id="alpaca_key" name="alpaca_key" required><br>
            
            <label for="alpaca_secret_key">Alpaca Secret Key:</label>
            <input type="text" id="alpaca_secret_key" name="alpaca_secret_key" required><br>

            <label for="alpaca_endpoint">Alpaca Endpoint:</label>
                <select id="alpaca_endpoint" name="alpaca_endpoint">
                    <option value="https://api.alpaca.markets">https://api.alpaca.markets</option>
                    <option value="https://paper-api.alpaca.markets">https://paper-api.alpaca.markets/v2</option>
                </select><br>
        
        
            <button type="submit">Update Keys</button>
        </form>
    </div>
</div>

<!-- Custom Styling -->
<style>
    .api-key-update-form {
        max-width: 600px;
        margin: 50px auto;
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
    .api-key-update-form h2 {
        text-align: center;
        margin-bottom: 20px;
    }
    .btn-primary {
        width: 100%;
    }
</style>
{% endblock %}