{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="forgot-password-div">
        <h2>Forgot Password</h2>
        <form class="forgot-password-form" action="/forgot_password" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <label for="email">Email Address:</label>
            <input type="text" id="email" name="email"><br>
        
            <button type="submit">Send Reset</button>
        </form>
    </div>
</div>

<!-- Custom Styling -->
<style>
    .forgot-password-div {
        max-width: 600px;
        margin: 50px auto;
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
    
    .forgot-password-form {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-between;
        align-items: center;
    }

    .forgot-password-div h2 {
        text-align: center;
        margin-bottom: 20px;
    }
    .btn-primary {
        width: 100%;
    }
</style>
{% endblock %}