{% extends 'base.html' %}
{% block content %}
    <div class="container mt-5">
        <h1>Stock Recommendations</h1>


        <!-- Button to generate recommendations -->
         <div class="container" style="display:flex;justify-content:space-between;">
            <form action='/purchaser' method='POST'>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                
                <!-- Dropdown for Preprocessed Data Selection -->
                <div class="preprocessed_data_container">
                    <label for="dataset_data">Select Training Dataset:</label>
                    <select name="dataset_data" id="dataset_data" required>
                        <option value="">Choose Dataset</option>
                        {% for dataset in datasets %}
                        <option value="{{ dataset[0] }}">{{ dataset[1] }} - {{ dataset[5] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <!-- Dropdown for Preprocessed Data Selection -->
                <div class="preprocessed_data_container">
                    <label for="recommender_data">Select Recommendations Script:</label>
                    <select name="recommender_data" id="recommender_data" required>
                        <option value="">Choose Recommendations Script</option>
                        {% for recommendation in recommendations_scripts %}
                        <option value="{{ recommendation[0] }}">{{ recommendation[1] }} - {{ recommendation[5] }}</option>
                        {% endfor %}
                    </select>
                </div>
            
                <!-- Dropdown for Training Script Selection -->
                <div class="training_script_data_container">
                    <label for="training_script">Select Training Script:</label>
                    <select name="training_script" id="training_script" required>
                        <option value="">Choose Training Script</option>
                        {% for script in trainers %}
                        <option value="{{ script[0] }}">{{ script[1] }} - {{ script[5] }}</option>
                        {% endfor %}
                    </select>
                </div>
            
                <!-- Number Selector for Maximum Recommendations with Tooltip -->
                <div class="recommendation_count_container" style="position: relative; margin-top: 20px;">
                    <label for="recommendation_count" style="display: block;">
                        Number of Recommendations:
                    </label>
                    <input type="number" name="recommendation_count" id="recommendation_count" min="5" max="100" step="5" value="5" required style="margin-right: 10px; padding: 5px; display: inline-block;">
                    
                    
                    <!-- Tooltip icon with hover effect -->
                    <h4 class="tooltip" style="display: inline-block; cursor: pointer; margin-left: 5px;">
                        ⓘ <!-- Info icon or text to trigger the tooltip -->
                        <h6 class="tooltiptext">The higher the number, the longer the process may take.</h6>
                    </h4>
                </div>
                <br>
                <button type="submit" id="generateBtn" class="btn btn-primary mb-3">Generate Recommendations</button>
            </form>
            <h3 >Cash Available: ${{"{:,.2f}".format(user_cash)}}</h3>
          </div>
          <span id="progressText">Checking stocks 0 - 0 of 0</span>
          <div class="progress" style="margin-top: 20px;">
            <div id="progressBar" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
          </div>

        


        <!-- Table to display recommendations -->
        {% if recommendations %}
        <table class="table table-bordered" id="recommendationsTable" style="border-color:black">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Limit Price</th>
                    <th>Qty</th>
                    <th>Confidence</th>
                    <th>Sector</th>
                    
                    
                    
                </tr>
            </thead>
            <tbody>
                {% for details in recommendations %}
                {% set row_color = 'white' %}
                {% if details.confidence <= 40 %}
                    {% set row_color = '#f9dfc5' %}
                {% elif details.confidence >= 41 and details.confidence <= 59 %}
                    {% set row_color = '#FFCCCB' %}
                {% elif details.confidence >= 60 and details.confidence <= 79 %}
                    {% set row_color = '#FFFBC8' %}
                {% else %}
                    {% set row_color = '#cefad0' %}
                {% endif %}
      
                <tr style="background-color: {{ row_color }}; border: 2px solid black;">
                    <td>{{ details.symbol }}</td>
                    <td>{{ details.limit_price }}</td>
                    <td>{{ details.qty }}</td>
                    <td>{{ details.confidence }}</td>
                    <td>{{ details.sector }}</td>
                    <td>
                        <!-- Purchase button with form -->
                        <form action="/purchase" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="symbol" value="{{ details.symbol }}">
                            <input type="hidden" name="limit_price" value="{{ details.limit_price }}">
                            <input type="hidden" name="qty" value="{{ details.qty }}">
                            <input type="hidden" name="confidence" value="{{ details.confidence}}">
                            <input type="hidden" name="sector" value="{{ details.sector}}">
                            <button type="submit" class="btn btn-success">Purchase</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
              </tbody>
        </table>
        {% endif %}
    </div>
    <style>
        /* Tooltip container */
        .tooltip {
            position: relative;
            color: #007bff; /* Optional: change the color to indicate it has a tooltip */
        }
    
        /* Tooltip text */
        .tooltip .tooltiptext {
            visibility: hidden;
            width: 250px;
            background-color: rgba(0, 0, 0, 0.7);
            color: #fff;
            text-align: center;
            border-radius: 4px;
            padding: 8px;
            position: absolute;
            z-index: 1;
            top: -5px; /* Adjusted position to show above input */
            left: 50%; /* Centered tooltip over info icon */
            transform: translateX(-50%);
            opacity: 0;
            transition: opacity 0.3s ease;
            white-space: nowrap;
        }
    
        /* Show tooltip text on hover */
        .tooltip:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            // Function to update the progress text
            function updateProgressText() {
                $.get('/get_progress_text', function(data) {
                    // Update the text of the element with the ID 'progressText'
                    $('#progressText').text(data.progressText);

                    // Call updateProgressText again after 1000 ms (1 second)
                    setTimeout(updateProgressText, 60000);
                });
            }

            // Initial call to start the loop
            updateProgressText();
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('generateBtn').addEventListener('click', function() {
                var intervalId = setInterval(function() {
                    fetch('/progress')  // Assume '/progress' is your endpoint returning a JSON with progress percentage
                        .then(response => response.json())
                        .then(data => {
                            var progressBar = document.getElementById('progressBar');
                            progressBar.style.width = data.progress + '%';
                            progressBar.textContent = data.progress + '%';
                            progressBar.setAttribute('aria-valuenow', data.progress);
                            
                            if (data.progress >= 100) {
                                clearInterval(intervalId);  // Stop polling when the task is complete
                            }
                        })
                        .catch(error => console.error('Error fetching progress:', error));
                }, 5000);  // Update every 5 seconds
            });
        });
    </script>
    <script>
        // Add event listeners to all forms with action '/purchase'
        document.addEventListener('DOMContentLoaded', function() {
            const purchaseForms = document.querySelectorAll('form[action="/purchase"]');
            
            purchaseForms.forEach(form => {
                form.addEventListener('submit', function(event) {
                    const symbol = form.querySelector('input[name="symbol"]').value;
                    const qty = form.querySelector('input[name="qty"]').value;
                    const limitPrice = form.querySelector('input[name="limit_price"]').value;
    
                    // Customize the confirmation message
                    const message = `Are you sure you want to purchase ${qty} shares of ${symbol} at $${limitPrice} each?`;
                    
                    // Show confirmation dialog
                    if (!confirm(message)) {
                        // Prevent form submission if user cancels
                        event.preventDefault();
                    }
                });
            });
        });
    </script>
    
{% endblock %}

