{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="reset-password-div">
        <h2>Reset Password</h2>
        <form class="reset-password-form" action="{{ url_for('reset_password', token=token) }}" method="POST">
            
            <label for="password">New Password:</label>
            <input type="password" id="password" name="password" required><br>
            
            <label for="password_confirmation">Confirm New Password:</label>
            <input type="password" id="password_confirmation" name="password_confirmation" required><br>
        
            <button type="submit">SSet New Password</button>
        </form>
    </div>
</div>

<!-- Custom Styling -->
<style>
    .reset-password-div {
        max-width: 600px;
        margin: 50px auto;
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .reset-password-form {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-between;
        align-items: center;
    }

    .reset-password-div h2 {
        text-align: center;
        margin-bottom: 20px;
    }
    .btn-primary {
        width: 100%;
    }
</style>
{% endblock %}